body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-family: 'Major Mono Display', monospace;
  font-size: 180px;
}

.redDigit {
  color: red;
}